<div class="uk-container">
	<div class="uk-card uk-card-default uk-text-center">
	<div class="">
		<h4 class="uk-text-primary">{DAVID_BASIL}</h4>
		<img src="{{ site.baseurl }}/img/me.jpg" class="uk-border-circle" width="100" alt="">
	</div><!-- /uk-card-header -->
	<hr class="uk-divider-icon">
	<div class="uk-card-body">
		<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
		tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
		vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
		no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>	
	</div><!-- /uk-card-body -->
	<hr class="uk-divider-icon">
	<div class="uk-margin">
		<span class="uk-badge">&nbsp;AngularJS&nbsp;</span>
		<span class="uk-badge">&nbsp;Express.js&nbsp;</span>
		<span class="uk-badge">&nbsp;jQuery&nbsp;</span>
		<span class="uk-badge">&nbsp;Node.js&nbsp;</span>
		<span class="uk-badge">&nbsp;MongoDB&nbsp;</span>
		<br>
		<br>
	</div>
</div>
</div>
