<div class="uk-container uk-text-center">

	<div class="uk-card uk-card-default uk-animation-fade">
		<div class="uk-card-title">
			<h4 class="uk-text-primary uk-text-uppercase uk-text-center">Send me a message</h4>	
		</div>			
		<hr class="uk-divider-icon">
		<div class="uk-card-body">
			<form class="">
				<div class="uk-margin">
					<input type="text" class="uk-input" placeholder="Name">	
				</div>
				<div class="uk-margin">
					<input type="email" class="uk-input" placeholder="Email">	
				</div>
				<div class="uk-margin">
					<textarea name="message" rows="10" cols="40" placeholder="Message..." class="uk-textarea"></textarea>
				</div>
				<input type="submit" class="uk-button uk-button-primary">
			</form>

		</div><!-- /uk-card-body -->
	</div><!-- /uk-card -->

</div><!-- /uk-container -->

