<div uk-grid class="uk-margin-large-top">
	<div class="uk-width-small@m">

		<ul class="uk-nav uk-nav-default uk-text-center" uk-switcher="connect: #component-nav; animation: uk-animation-fade; toggle: > :not(.uk-nav-header)">
			<li class="uk-margin-medium"><a href="#" class="uk-text-primary">ABOUT</a></li>
			<li class="uk-margin-medium"><a href="#">PORTFOLIO</a></li>
			<li class="uk-margin-medium"><a href="#" class="uk-text-danger">CONTACT</a></li>
		</ul>

	</div>
	<div class="uk-width-expand@m">

		<ul id="component-nav" class="uk-switcher">
			<li>
				<p>Hi there.</p>
				<p>My name is David Basil and I'm a full stack Ruby on Rails developer</p>
			</li>
			<li><p>Coming soon...</p></li>
			<li>

				<form>
					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon" uk-icon="icon: user"></span>
							<input type="text" class="uk-input" placeholder="NAME">
						</div><!-- /uk-inline -->
						<div class="uk-inline">
							<span class="uk-form-icon" uk-icon="icon: mail"></span>
							<input type="email" class="uk-input" placeholder="EMAIL">
						</div><!-- /uk-inline -->
					</div><!-- /uk-margin -->	
				</form>

			</li>
		</ul>

	</div>
	<div class="uk-width-small@m">

		<ul class="uk-nav uk-nav-default"> 
			<li><a href="https://github.com/DavidBasil" target="_blank" class="uk-button uk-button-primary"><span uk-icon="icon: github" class="uk-light"></span></a></li>
			<li><a href="https://www.youtube.com/channel/UC_eR1E_lyG7o74WdwZJDMog?view_as=subscriber" target="_blank" class="uk-button uk-button-secondary"><span uk-icon="icon: youtube" class="uk-light"></span></a></li>
			<li><a href="https://www.linkedin.com/in/david-basil-69a652143/" target="_blank" class="uk-button uk-button-danger"><span uk-icon="icon: linkedin" class="uk-light"></span></a></li>
		</ul>

	</div>
</div>
