<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">
		<ul class="uk-navbar-nav">
			<li class="{% if page.url == '/' %}uk-active{% endif %}"><a href="{{site.baseurl}}/">About</a></li>
			<li class="{% if page.url == '/blog/' %}uk-active{% endif %}"><a href="{{site.baseurl}}/blog/">Blog/Vlog</a></li>
			<li class="{% if page.url == '/contact/' %}uk-active{% endif %}"><a href="{{site.baseurl}}/contact">Contact</a></li>
		</ul>
	</div><!-- /uk-navbar-left -->

	<div class="uk-navbar-center">
		<h2 class="uk-text-justify">David_Basil</h2>
	</div><!-- /uk-navbar-center -->

	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			<li><a href=""><span uk-icon="icon: youtube"></span></a></li>
			<li><a href=""><span uk-icon="icon: github"></span></a></li>
			<li><a href=""><span uk-icon="icon: linkedin"></span></a></li>
			<li><a href=""><span uk-icon="icon: twitter"></span></a></li>
		</ul>
	</div><!-- /uk-navbar-right -->
</nav>
