<div id="offcanvas" uk-offcanvas="flip: true;">
	<div class="uk-offcanvas-bar uk-flex uk-flex-column">
		<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
			<li class="{% if page.url == '/' %}uk-active{% endif %}"><a href="{{site.baseurl}}/">About</a></li>
			<li class="{% if page.url == '/blog/' %}uk-active{% endif %}"><a href="{{site.baseurl}}/blog/">Blog/Vlog</a></li>
			<li class="{% if page.url == '/contact/' %}uk-active{% endif %}"><a href="{{site.baseurl}}/contact">Contact</a></li>
			<li class="uk-nav-divider"></li>
			<li><a href="https://www.youtube.com/channel/UC_eR1E_lyG7o74WdwZJDMog" class="uk-button uk-button-default" target="_blank"><span uk-icon="icon: youtube" class="uk-light"></span></a></li>
			<li><a href="https://github.com/DavidBasil" class="uk-button uk-button-default" target="_blank"><span uk-icon="icon: github" class="uk-light"></span></a></li>
			<li><a href="https://www.linkedin.com/in/david-basil-69a652143/" class="uk-button uk-button-default" target="_blank"><span uk-icon="icon: linkedin" class="uk-light"></span></a></li>
			<li><a href="https://twitter.com/basil_django" class="uk-button uk-button-default" target="_blank"><span uk-icon="icon: twitter" class="uk-light"></span></a></li>
		</ul>
		<button class="uk-offcanvas-close" type="button" uk-close></button>
	</div><!-- /uk-offcanvas-bar -->
</div>
