@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


body {
  font-size: 18px;
}

.navbar-default {
  font-size: 20px;
}

a.navbar-brand {
  border-right: 1px solid #D9EDF7;
  font-family: 'Source Code Pro', monospace;
}

i.fa.fa-github span {
  font-family: 'Source Code Pro', monospace;
}

i.fa.fa-check-square-o.fa-lg {
  font-size: 16px;
}

p {
  line-height: 1.7;
}

.active {
  color: red;
}

.img-responsive.img-thumbnail {
  max-width: 200px;
}

footer.navbar-fixed-bottom.text-center {
  background-color: #375A7F;
  color: #fff;
}

footer.navbar-fixed-bottom.text-center p {
  padding: 10px;
}

ul.list-group {
  margin-bottom: 100px;
}

li.list-group-item h4 {
  text-decoration: underline;
}

p.text-success, p.text-warning {
  font-size: 20px;
}

pre {
  font-size: 16px;
}

div.article {
  margin-bottom: 100px;
}

div.article p {
  margin-top: 5px;
}

div.container-fluid.bg-3.text-center {
  margin-bottom: 100px;
}

form span {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

@media only screen and (min-width:768){
  div.article {
    max-width: 700px;
  }
}
