---
layout: default
title: Django Blog tutorial, part 2
description: Learn how to build a Django blog application, part 2
excerpt: Admin site, views, templates
---

<p>In this part of tutorial we focus on admin site, views and templates.</p>

<div class="well">
  <h4>Index</h4>
  <ol>
    <li><a href="#admin">Admin site</a></li>
    <li><a href="#views">Views</a></li>
    <li><a href="#templates">Templates</a></li>
  </ol>
</div>

<p>Our application has the ability to create posts. Now we need to somehow add and edit blog posts, right? Django comes wih a ready-to-use administrator dashboard which is very useful when dealing with a lot of content.
</p>

<p id="admin">The first step is to create a superuser; superuser is the same as an administrator. In your terminal run:
<pre><code class="bash">python manage.py createsuperuser</code></pre>
I input admin as username, my personal email and let our password be "Password123". That's it, we created the superuser so we can use the admin site for content management.
</p>

<p>Start the server and append our website's link with "/admin" - that's the address of our admin site. Put in superuser's credentials and you'll be welcomed by admin's dashboard. There you can see "Groups" and "Users" models but there is no Post option. That's because admin site is not aware of the Post model yet so we need to register it manually.</p>

<p>Open "admin.py" of the blog app and insert the following code:
<pre><code class="python">
from django.contrib import admin
from .models import Post

admin.site.register(Post)
</code></pre>
"admin.site.register" line does exactly what is says: it makes Post model available for our manipulation.
</p>

<p>Refresh the page and Post model will appear in our admin interface.</p>

<p>Let's add some generic posts. Click on the Posts link and fill out the form. Call the first post "Our first post", insert "our-first-post" into the slug field and populate body field with some lorem ipsum text. Click "save" and we'll be redirected to the page listing all our blog posts.</p>

<p>Let's create two additional posts so we have some data to work with. Give them the title of  "How to lose weight" and "10 tricks to gain muscles". Now proceed to the "views" part of our project.</p>

<hr>

<p>In this tutorial we don't touch on database querying. The subject is pretty extensive and should be given its own tutorial. We go straight to views and templates instead.</p>

<p>Every blog needs at least 2 views: list of all published posts and detail view of each post. </p>

<p id="views">View in Django is just a function that handles http requests and responses. All views are located in <mark>views.py</mark> file. Open it and insert the following lines:
<pre><code class="python">
from django.shortcuts import render, get_object_or_404
from .models import Post

def post_list(request):
    posts = Post.objects.all()
    return render(request, 'blog/post/list.html', {'posts': posts})
</code></pre>
The function "post_list" extracts all posts from the database and sends the data to "list.html" template in the form of a 'posts' variable.
</p>

<p>Create a second function "post_detail":
<pre><code class="python">
def post_detail(request, year, month, day, post):  
    post = get_object_or_404(Post, slug=post,
                                    publish__year=year,
                                    publish__month=month,
                                    publish__day=day)
    return render(request, 'blog/post/detail.html', {'post': post})
</code></pre>
This function takes year, month, day and post as arguments. We use "get_object_or_404" method to retrive the desired post; the method launches "404" error if the database querying fails.
</p>

<hr>

<p>Next create a <mark>urls.py</mark> file in a blog directory. This file will handle all urls patterns for our blog application.</p>

<p><mark>urls.py</mark>:
<pre><code class="python">
from django.conf.urls import url
from . import views

urlpatterns = [
    url(r'^$', views.post_list, name='post_list'),
    url(r'(?P<year>\d{4})/(?P<month>\d{2})/(?P<day>\d{2})/(?P<post>[-\w]+)/$',
        views.post_detail,
        name='post_detail'),  
</code></pre>
The first url pattern maps to the "post_list" function and second one to "post_detail". Now add blog's urls to the main "urls.py" (located in fitnesslaface directory).
</p>

<p><mark>fitnesslaface/urls.py</mark>:
<pre><code class="python">
from django.conf.urls import url, include
from django.contrib import admin

urlpatterns = [
    url(r'^admin/', admin.site.urls),
    url(r'^blog/', include('blog.urls', namespace='blog')),
</code></pre>
</p>

<hr>

<p>At this stage we need to add "canonical urls" to our post model. Edit <mark>models.py</mark>:
<pre><code class="python">
from django.core.urlresolvers import reverse

class Post(models.Model):
    ...
    def get_absolute_url(self):
            return reverse('blog:post_detail', args=[
                                                self.publish.year,
                                                self.publish.strftime('%m'),
                                                self.publish.strftime('%d'),
                                                self.slug])  
</code></pre>
"get_absolute_url" uses reverse method which takes year, month, day and slug as arguments to build a url for a specific post.
</p>

<hr>

<p id="templates">Now create a folder named "templates" inside of blog directory. Make another folder named "blog" inside the "templates" directory. Create a file <mark>base.html</mark> in that folder; this template will be the main one for our application. All other templates will inherit from it. </p>

<p>Open <mark>base.html</mark> and paste the following code:
<pre><code class="html">{% raw %}
{% load staticfiles %}
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;{% block title %}{% endblock %}&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;div id=&quot;container&quot;&gt;
  {% block content %}
  {% endblock %}
&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt;  
{% endraw %}
</code></pre>
{% raw %}{% block ... %}{% endblock %}{% endraw %} are template filters, they enable us to insert content into our pages. You can think of them as variables. <br> Don't worry about styling yet; we'll touch on it in the future.
</p>

<p>Now create another folder in templates/blog. Name it "post". Make a file <mark>list.html</mark>:
<pre><code class="html">{% raw %}
{% extends &quot;blog/base.html&quot; %}

{% block title %}Fitness LaFace Blog{% endblock %}

{% block content %}

&lt;h2&gt;Fitness LaFace Blog&lt;/h2&gt;

{% for post in posts %}

&lt;h3&gt;
  &lt;a href=&quot;{{ post.get_absolute_url }}&quot;&gt;{{ post.title }}&lt;/a&gt;
&lt;/h3&gt;

&lt;p class=&quot;meta&quot;&gt;Published {{ post.publish }} by {{ post.author }} &lt;/p&gt;

{{ post.body|truncatewords:30|linebreaks }}

{% endfor %}

{% endblock %}
{% endraw %}
</code></pre>
This is our posts list template. It lists all published posts that we have. We use "for" loop to iterate through all posts. "truncatewords" and "linebreaks" are template filters that help us modify that display of the data. The first one makes an excerpt out of the post's body and "linebreaks" insert html linebreaks.
</p>

<p>Go to "http://127.0.0.1:8000/blog" - the list of all posts is shown on the page.</p>

<p>Next we make a template for an individual post.</p>

<p><mark>detail.html</mark>:
<pre><code class="html">
{% raw %}
{% extends &quot;blog/base.html&quot; %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

&lt;h2&gt;{{ post.title }}&lt;/h2&gt;
&lt;p class=&quot;meta&quot;&gt;Published {{ post.publish }} by {{ post.author }}&lt;/p&gt;
{{ post.body|linebreaks }}

{% endblock %}
{% endraw %}
</code></pre>
Go back to the posts list and click on one of the posts. You'll be shown a post page. Great!
</p>
