---
layout: post
title: Django Online Store Tutorial, part 2
description: Learn how to build a Django online store, part 2
excerpt: Django Online Store, part 2
---

<div class="well">
  <h4>Index</h4>
  <ol>
    <li><a href="#carttemp">Cart Templates</a></li>
    <li><a href="#context">Context Processor</a></li>
    <li><a href="#orders">Orders App</a></li>
    <li><a href="#orderstemp">Orders App Templates</a></li>
  </ol>
</div>

<p>This is the part two of Django online store tutorial. In this post we are going to focus on building templates for the shopping car and also we are going to make an "orders" app for customer orders management. We leave PayPal payment system integration for the third part of the tutorial.</p>

<hr />

<p id="carttemp">Create the following template structure inside "cart" app:
<ul>
	<li>templates/</li>
	<li>&nbsp;&nbsp;&nbsp;&nbsp;cart/</li>
	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;detail.html</li>
</ul>
Now edit <mark>"detail.html"</mark>:
<pre>
<code class="django">{% raw %}
{% extends 'store/base.html' %}
{% load static %}

{% block title %}
Shopping Cart	
{% endblock title %}

{% block content %}

&lt;h2&gt;Shopping Cart&lt;/h2&gt;
&lt;table class=&quot;cart&quot;&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th&gt;Image&lt;/th&gt;
   &lt;th&gt;Product&lt;/th&gt;
   &lt;th&gt;Quantity&lt;/th&gt;
   &lt;th&gt;Remove&lt;/th&gt;
   &lt;th&gt;Unit Price&lt;/th&gt;
   &lt;th&gt;Price&lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;	
 &lt;tbody&gt;
   {% for item in cart %}
   {% with product=item.product %}
   &lt;tr&gt;
    &lt;td&gt;
     &lt;a href=&quot;{{ product.get_absolute_url }}&quot;&gt;
      &lt;img src=&quot;{% if product.image %}
      {{ product.image.url }}{% else %}{% static 'img/no_image.png' %}
      {% endif %}&quot; alt=&quot;&quot;/&gt;
     &lt;/a&gt;
    &lt;/td&gt;
    &lt;td&gt;{{ product.name }}&lt;/td&gt;
    &lt;td&gt;{{ item.quantity }}&lt;/td&gt;
    &lt;!-- link to remove the product --&gt;
    &lt;td&gt;&lt;a href=&quot;{% url 'cart:cart_remove' product.id %}&quot; target=&quot;_blank&quot;&gt;Remove&lt;/a&gt;&lt;/td&gt;
    &lt;td class=&quot;num&quot;&gt;${{ item.price }}&lt;/td&gt;
    &lt;td class=&quot;num&quot;&gt;${{ item.total_price}}&lt;/td&gt;
   &lt;/tr&gt;	
   {% endwith %}	
   {% endfor %}
   &lt;tr class=&quot;total&quot;&gt;
    &lt;td&gt;Total&lt;/td&gt;	
    &lt;td colspan=&quot;4&quot;&gt;&lt;/td&gt;
    &lt;td class=&quot;num&quot;&gt;${{ cart.get_total_price }}&lt;/td&gt;
   &lt;/tr&gt;
 &lt;/tbody&gt;
&lt;/table&gt;
&lt;!-- links to continue and checkout --&gt;
&lt;p class=&quot;text-right&quot;&gt;
  &lt;a href=&quot;{% url 'store:product_list' %}&quot;&gt;Continue shopping&lt;/a&gt;   
  &lt;a href=&quot;{% url 'orders:order_create' %}&quot; class=&quot;button&quot;&gt;Checkout&lt;/a&gt;
&lt;/p&gt;

{% endblock %}
{% endraw %}
</code></pre>
This templates displays product info and allows the user to change quantity or remove items from shopping cart. We need to modify the <mark>"product_detail"</mark> method:
<pre>
<code>
from cart.forms import CartAddProductForm
...

def product_detail(request, id, slug):
    product = get_object_or_404(Product, id=id, slug=slug, available=True)
    cart_product_form = CartAddProductForm()
    return render(request, 'store/product/detail.html', {'product': product,
        'cart_product_form': cart_product_form})
</code>
</pre>
We import CartAddProductFrom, assign it to the "cart_product_form" variable and throw it into contex dictionary.
Next add the form to <mark>"store/product/detail.html"</mark>:
<pre>
<code>{% raw %}
&lt;p class=&quot;price&quot;&gt;${{ product.price }}&lt;/p&gt;
&lt;form action=&quot;{% url 'cart:cart_add' product.id %}&quot; method=&quot;post&quot;&gt;
 {% csrf_token %}
 {{ cart_product_form }}
 &lt;input type=&quot;submit&quot; value=&quot;Add to cart&quot;&gt;
&lt;/form&gt;
{% endraw %}
</code></pre>
Run the development server and try to add an item with a quantity of two to the cart. You should be redirected to the detail view of the shopping cart. Great!
</p>

<hr />

<p>Our cart application also needs a functionality to allow a buyer to change the quantity of products in his shopping cart. To do so edit <mark>"cart/views.py"</mark>:
<pre>
<code>
def cart_detail(request):
    cart = Cart(request)
    for item in cart:
        item['update_quantity_form'] = CartAddProductForm(
                initial={'quantity': item['quantity'], 'update': True} 
                )
    return render(request, 'cart/detail.html', {'cart': cart})
</code></pre>
Go back to "cart/detail.html" templates and replace {%raw%}"&lt;td&gt;{{ item.quantity }}&lt;/td&gt;"{%endraw%} with the following code:
<pre><code>{% raw %}
&lt;td&gt;
 &lt;form action=&quot;{% url &quot;cart:cart_add&quot; product.id %}&quot; method=&quot;post&quot;&gt;
  {% csrf_token %}
  {{ item.update_quantity_form.quantity }}
  {{ item.update_quantity_form.update }}
  &lt;input type=&quot;submit&quot; value=&quot;Update&quot;&gt;
 &lt;/form&gt;
&lt;/td&gt;
{% endraw %}
</code></pre>
That's it, now we can update the quantity of items in the shopping cart.
</p>

<hr />

<p id="context">Our application works fine at this stage but we have one issue: shopping cart still displays "your cart is empty" message even after we add items to it. The solution is to show the quantity of products in all templates without modifying each individual template. This is where "context processor" comes handy. Context processor is a python function that returns a dictionary of key/value pairs and automatically adds them to every template. </p>

<p>Create a new file named <mark>"context_processors.py"</mark> inside the cart directory and fill it with the following code:
<pre>
<code>
from .cart import Cart

def cart(request):
	return {'cart': Cart(request)}
</code></pre>
The cart function simply makes a Car object available for all templates. Now add "cart.context_processors.cart" to "TEMPLATES" options inside <mark>"settings.py"</mark>:
<pre>
<code>{% raw %}
TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
              ...
              'cart.context_processors.cart',
            ],
        },
    },
]
{% endraw %}
</code></pre>
Next step is to edit <mark>"store/base.html"</mark>: replace the contect of {% raw %}&lt;div class=&quot;cart&quot;&gt;{% endraw %} with the following lines:
<pre>
<code>{% raw %}
&lt;div class=&quot;cart&quot;&gt;
 {% with total_items=cart|length %}
 {% if cart|length &gt; 0 %}
  Cart: &lt;a href=&quot;{% url 'cart:cart_detail' %}&quot;&gt;
  {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_plice }}&lt;/a&gt;	
 {% else %}
  Cart is empty
 {% endif %}	
 {% endwith %}	
&lt;/div&gt;
{% endraw %}
</code></pre>
Now add some items to the cart and you will notice that cart displays the total number of products and it persists in all pages.
</p>

<hr />

<p id="orders">We have a store and cart app in our project. You may think that now we can go straight to the payment system but before that we need to think of a way of how to store customer orders. The most sure way of course is to create a dedicated app for managing orders. Start an "orders" app:
<pre>
<code class="bash">python manage.py startapp orders
</code></pre>
And add "orders" to INSTALLED_APPS
</p>

<p>In "models.py" we define two models: one for the order itself and the second one for the bought items.
Edit <mark>"orders/models.py"</mark>:
<pre><code class="python">{% raw %}
from django.db import models
from store.models import Product


class Order(models.Model):
    first_name = models.CharField(max_length=60)
    last_name = models.CharField(max_length=50)
    email = models.EmailField()
    address = models.CharField(max_length=200)
    zip_code = models.CharField(max_length=20)
    city = models.CharField(max_length=50)
    created = models.DateTimeField(auto_now_add=True)
    paid = models.BooleanField(default=False)

    class Meta:
        ordering = ('-created',)

    def __str__(self):
        return 'Order {}'.format(self.id)

    def get_total_cost(self):
        return sum(item.get_cost() for item in self.items.all())


class OrderItem(models.Model):
    order = models.ForeignKey(Order, related_name='items')
    product = models.ForeignKey(Product, related_name='order_items')
    price = models.DecimalField(max_digits=8, decimal_places=2)
    quantity = models.PositiveIntegerField(default=1)

    def __str__(self):
        return '{}'.format(self.id)

    def get_cost(self):
        return self.price * self.quantity
    
{% endraw %}
</code></pre>
After we defined the models it's time to sync the database:
<pre><code class="bash">python manage.py makemigrations
python manage.py migrate
</code></pre>
Just like with any other models lets register Order and OrderItem in admin site: <mark>"orders/admin.py"</mark>:
<pre>
<code class="python">
from django.contrib import admin
from .models import Order, OrderItem


class OrderItemInline(admin.TabularInline):
    model = OrderItem
    raw_id_fields = ['product']


class OrderAdmin(admin.ModelAdmin):
    list_display = ['id', 'first_name', 'last_name', 'email', 'address',
                    'zip_code', 'city', 'paid', 'created']
    list_filter = ['paid', 'created']
    inlines = [OrderItemInline]

admin.site.register(Order, OrderAdmin)
</code></pre>
</p>

<p>Now we need a form to allow buyers fill out during the checkout. Create a file named <mark>"forms.py"</mark>:
<pre>
<code class="python">
from django import forms
from .models import Order

class OrderCreateForm(forms.ModelForm):
    class Meta:
        model = Order
        fields = ['first_name', 'last_name', 'email', 'address', 'zip_code',
                'city']
</code></pre>
That was easy, but what about logic to process that form? Here you go:
<pre>
<code class="python">
from django.shortcuts import render, redirect
from .models import OrderItem
from .forms import OrderCreateForm
from cart.cart import Cart


def order_create(request):
    cart = Cart(request)
    if request.method == 'POST':
        form = OrderCreateForm(request.POST)
        if form.is_valid():
            order = form.save()
            for item in cart:
                OrderItem.objects.create(order=order,
                                        product=item['product'],
                                        price=item['price'],
                                        quantity=item['quantity'])
            cart.clear()
            request.session['order_id'] = order.id
            return redirect(reverse('payment:process')) 
    else:
        form = OrderCreateForm()
    return render(request, 'orders/order/create.html', {'cart': cart,
                                                            'form': form})
</code></pre>
If the request method is GET we just display an empty form. If the request is POST we validate the form and save the data as a new Order. Make a new file called <mark>"urls.py"</mark> so we can map urls to views:
<pre>
<code class="python">
from django.conf.urls import url
from . import views

urlpatterns = [
    url(r'^create/$', views.order_create, name='order_create'),
]
</code></pre>
And as we usually do include orders urls into the main <mark>"urls.py"</mark>:
<pre>
<code class="python">    ...
    url(r'^orders/', include('orders.urls', namespace='orders')),
    ...
</code></pre>
Make sure "orders" urls are placed before "store" urls.
</p>

<hr />

<p id="orderstemp">Now lets take care of templates. Create the following template structure inside the "orders" directory:
<ul>
	<li>templates</li>
	<li>&nbsp;&nbsp;orders/</li>
	<li>&nbsp;&nbsp;&nbsp;&nbsp;order/</li>
	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;create.html</li>
	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;created.html</li>
</ul>
Edit <mark>"create.html"</mark>:
<pre>
<code>{% raw %}
{% extends 'store/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}

&lt;h2&gt;Checkout&lt;/h2&gt;

&lt;div class=&quot;order-info&quot;&gt;
 &lt;h4&gt;Your order&lt;/h4&gt;	
 &lt;ul&gt;
 {% for item in cart %}
  &lt;li&gt;
  {{ item.quantity }}x {{ item.product_name }}	
  &lt;span&gt; ${{ item.total_price }} &lt;/span&gt;
  &lt;/li&gt;	
 {% endfor %}
 &lt;/ul&gt;
 &lt;p&gt;Total: ${{ cart.get_total_price }}&lt;/p&gt;
&lt;/div&gt;

&lt;form action=&quot;.&quot; method=&quot;post&quot;&gt;
{% csrf_token %}	
{{ form.as_p }}
&lt;input type=&quot;submit&quot; value=&quot;Confirm Order&quot;/&gt;
&lt;/form&gt;

{% endblock %}
{% endraw %}
</code></pre>
This template displays all cart items and an order form. Now we need a template to display a thank-you mesage after the order has been created. Edit <mark>"created.html"</mark>:
<pre>
<code>{% raw %}
{% extends 'store/base.html' %}

{% block title %}Thank you{% endblock title %}

{% block content %}
&lt;h2&gt;Thank you for your order.&lt;/h2&gt;
&lt;p&gt;Your order number is &lt;mark&gt;{{ order.id }}&lt;/mark&gt;.&lt;/p&gt;
	
{% endblock %}
{% endraw %}
</code>
</pre>
Start the server, add some items into the cart and fill out the order form. If everything is correct you should see a thank you message after the order completion.
</p>




