<!DOCTYPE html>
<html>
<head>
  <title>David Basil</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">david_basil</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{ site.baseurl }}/">About</a></li>
        <li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li class="{% if page.url == '/portfolio.html' %}active{% endif %}"><a href="{{ site.baseurl }}/portfolio.html">Portfolio</a></li>
        <li class="{% if page.url == '/contact.html' %}active{% endif %}"><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</nav>

{{ content }}

<footer>
  <p>&copy; 2017 David Basil</p>
</footer>

</body>
</html>
