<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>David Basil</title>
	<script src="{{site.baseurl}}/assets/js/main.min.js"></script>
	<!-- <script src="{{site.baseurl}}/assets/js/uikit.js"></script> -->
	<script src="{{site.baseurl}}/assets/js/uikit-icons.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<!-- <script src="{{site.baseurl}}/assets/js/main.js"></script> -->
	<!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/uikit.css"> -->
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
</head>
<body>

{% include nav.html %}

<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
{{ content }}
</div><!-- /uk-container -->

<footer class="uk-background-secondary uk-light uk-text-center uk-margin-top">
	<p class="uk-padding-small">2018 &copy; David Basil</p>
</footer>



</body>
</html>
