<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>David Basil</title>
	<script src="{{site.baseurl}}/assets/js/jquery.js"></script>
	<script src="{{site.baseurl}}/assets/js/uikit.js"></script>
	<script src="{{site.baseurl}}/assets/js/uikit-icons.js"></script>
	<script src="{{site.baseurl}}/assets/js/main.js"></script>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/uikit.css">
</head>
<body>

{% include nav.html %}

<div class="uk-container uk-margin-large-top" uk-height-viewport="expand: true">
{{ content }}
</div><!-- /uk-container -->

<footer class="uk-background-secondary uk-light uk-text-center">
<hr>
<p class="uk-padding-small">2018 David Basil</p>
</footer>



</body>
</html>
